app = "brilliox-pro-crm"
primary_region = "ams"

[build]

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
  memory = "1gb"
  cpus = 1
  cpu_kind = "shared"

[env]
  ENVIRONMENT = "production"
  DEBUG = "false"
  PORT = "5000"
